@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom CSS here */

/* @font-face {
  font-family: "PostnordRegular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../../static/font/postnordsans-regular.woff2") format("woff2");
} */

html {
  scroll-behavior: smooth;
}

/*Custom heading styles*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  letter-spacing: -0em;
}

p {
  font-size: 18px;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: "PostnordRegular"
  /* Accent */
  --ifm-color-primary: #01a0d7;
  /* Global Background color*/
  --ifm-background-color: #fdfeff !important;
  /* Color of the navbar/sidebar/toc divider*/
  --ifm-toc-border-color: #cad0e0 !important;
  /* Text Color*/
  --ifm-heading-color: #080818 !important;

  --ifm-color-info-contrast-background: #d3d2fd !important;
  --ifm-color-warning-contrast-background: #ffe7ac !important;
  --ifm-color-danger-contrast-background: #fcbfbd !important;
  --ifm-color-success-contrast-background: #b7edce !important;
  --ifm-color-success: #b7edce !important;
  --ifm-color-error: #fcbfbd !important;
  --ifm-font-family-base: "PostnordRegular" !important;

  --rally-color-primary: #ebe7df;
  --rally-color-background-inverted: #000000;
  --rally-text-color: #000000;
  --rally-bg-soft: #f8f8f8;
  --rally-bg-soft-inverted: #000000;
  font-size: 16px;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  /* Accent */
  --ifm-color-primary: #01a0d7;
  /* Global Background color*/
  --ifm-background-color: #020813 !important;
  /* Color of the navbar/sidebar/toc divider*/
  --ifm-toc-border-color: #1d1d3b !important;
  /* Text Color*/
  --ifm-heading-color: #e9e9e9 !important;

  --ifm-navbar-search-input-background-color: #081732 !important;

  --ifm-color-info-contrast-background: #03015c !important;
  --ifm-color-warning-contrast-background: #3b2a00 !important;
  --ifm-color-danger-contrast-background: #3c0301 !important;
  --ifm-color-success-contrast-background: #033719 !important;
  --ifm-color-success: #033719 !important;
  --ifm-color-error: #3c0301 !important;

  --rally-color-primary: #000000;
  --rally-color-background-inverted: #ebe7df;
  --rally-text-color: #ebe7df;
  --rally-bg-soft-inverted: #f8f8f8;
  --rally-bg-soft: #000000;
}

/*Styling searchbar*/

.navbar__search-input {
  /* Your styles here */
  background: var(--ifm-navbar-search-input-background-color);
  padding: 0 0.5rem 0 1rem;
}

/*Change chevron for sidebar and navbar to custom*/

.navbar__item {
  vertical-align: middle;
  display: flex;
  align-items: center;
}
.dropdown > .navbar__link {
  display: flex;
  align-items: center;
}

.dropdown > .navbar__link:after {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5'/%3E%3C/svg%3E")
    no-repeat center center;
  border: none;
  filter: var(--ifm-menu-link-sublist-icon-filter);
  height: 1.2rem;
  width: 1.2rem;
  transform: translateY(-8%);
}

.menu__caret:before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m8.25 4.5 7.5 7.5-7.5 7.5'/%3E%3C/svg%3E")
    no-repeat center center;
  transform: rotate(90deg);
}

.menu__list-item--collapsed .menu__caret:before {
  transform: rotateZ(0deg);
}

.menu__link--sublist-caret:after {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m8.25 4.5 7.5 7.5-7.5 7.5'/%3E%3C/svg%3E")
    no-repeat center center;
  transform: rotate(90deg);
}

.menu__list-item--collapsed .menu__link--sublist:after,
.menu__list-item--collapsed .menu__caret:before {
  transform: rotateZ(0deg);
}

.navbar {
  box-shadow: none !important;
  font-weight: 500 !important;
  border-bottom: 1px solid var(--ifm-toc-border-color);
  background-color: var(--ifm-background-color);
}

.menu {
  padding-right: 0.5rem !important;
}

.menu__link {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

/*remove pagination*/
.pagination-nav {
  display: none;
}

/*Add line to the menu item in sidebar*/

.menu__list .menu__list {
  border-bottom: 2px solid var(--ifm-color-emphasis-200);
  border-bottom-color: transparent !important;
  border-left: 2px solid var(--ifm-color-emphasis-200);
  /* border-radius: 0 0 0 20px; */
}

.menu__list .menu__list {
  margin-left: var(--ifm-menu-link-padding-horizontal);
}

/*Style alert close to Rally style*/

.alert {
  border-left-width: 0px !important;
}

/*Style Logo*/
.navbar__logo img {
  max-width: 90% !important;
}

/*Style main wrapper of the docs*/
.docRoot {
  max-width: 1400px;
  margin: 0 auto;
}

.docItemCol {
  padding-left: 48px;
  padding-right: 48px;
}
